:root {
  --main-clr: #90b132;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: var(--main-clr);
  font-family: sans-serif;
  font-size: 20px;
  text-transform: capitalize;
}
.currency-converter {
  background: #f1f1f1;
  border: 1px solid #333;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}
input[type="number"] {
  padding: 10px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
}
input {
  margin-top: 10px;
}
.to,
.from {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
h1,
label {
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
}
.from-to-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}
select {
  border: none;
  background: #0000;
  outline: none;
}
.convert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.convert img {
  width: 50px;
  height: 50px;
  max-height: 50px;
  max-width: 50px;
}
#result {
  width: 100%;
}
/* select scrollbar */
select::-webkit-scrollbar {
  width: 8px;
}
select::-webkit-scrollbar-track {
  background: #fff;
}
select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #fff;
}

/* button */
.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  background: none;
  padding: 0.75em 1.5em;
  display: grid;
  place-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.btn-4 {
  --clr: var(--main-clr);
  --outline: 2px solid var(--main-clr);
  color: var(--clr);
  outline: var(--outline);
  border: var(--outline);
  transition: outline-width 200ms ease, outline-offset 200ms ease;
}

.btn-4:hover {
  outline: var(--outline);
  outline-width: 10px;
  outline-offset: -10px;
}
